<div>
    <div class="button-wrapper">

        <button data-ng-key="`">`</button>
        <button data-ng-key="1">1</button>
        <button data-ng-key="2">2</button>
        <button data-ng-key="3">3</button>
        <button data-ng-key="4">4</button>
        <button data-ng-key="5">5</button>
        <button data-ng-key="6">6</button>
        <button data-ng-key="7">7</button>
        <button data-ng-key="8">8</button>
        <button data-ng-key="9">9</button>
        <button data-ng-key="0">0</button>
        <button data-ng-key="-">-</button>
        <button data-ng-key="=">=</button>
        <button data-ng-key="-">-</button>
        <button data-ng-key="[BACKSPACE]">Backspace</button>

        <button data-ng-key="[TAB]">Tab</button>
        <button data-ng-key="q">q</button>
        <button data-ng-key="w">w</button>
        <button data-ng-key="e">e</button>
        <button data-ng-key="r">r</button>
        <button data-ng-key="t">t</button>
        <button data-ng-key="y">y</button>
        <button data-ng-key="u">u</button>
        <button data-ng-key="i">i</button>
        <button data-ng-key="o">o</button>
        <button data-ng-key="p">p</button>
        <button data-ng-key="[">[</button>
        <button data-ng-key="]">]</button>
        <button data-ng-key="\">\</button>

        <button data-ng-key="[CAPSLOCK]">Capslock</button>
        <button data-ng-key="a">a</button>
        <button data-ng-key="s">s</button>
        <button data-ng-key="d">d</button>
        <button data-ng-key="f">f</button>
        <button data-ng-key="g">g</button>
        <button data-ng-key="h">h</button>
        <button data-ng-key="j">j</button>
        <button data-ng-key="k">k</button>
        <button data-ng-key="l">l</button>
        <button data-ng-key=";">;</button>
        <button data-ng-key="'">'</button>
        <button data-ng-key="[ENTER]">Enter</button>

        <button data-ng-key="[L-SHIFT]">Shift</button>
        <button data-ng-key="z">z</button>
        <button data-ng-key="x">x</button>
        <button data-ng-key="c">c</button>
        <button data-ng-key="v">v</button>
        <button data-ng-key="b">b</button>
        <button data-ng-key="n">n</button>
        <button data-ng-key="m">m</button>
        <button data-ng-key=",">,</button>
        <button data-ng-key=".">.</button>
        <button data-ng-key="/">/</button>
        <button data-ng-key="[R-SHIFT]">Shift</button>

        <button data-ng-key="[L-CTRL]">Ctrl</button>
        <button data-ng-key="[L-ALT]">Alt</button>
        <button data-ng-key="[SPACE]">Space</button>
        <button data-ng-key="[R-ALT]">Alt</button>
        <button data-ng-key="[R-CTRL]">Ctrl</button>

        <!-- D-PAD? -->

        <!-- Original Modifier Keys  ==  Not sure if temporary -->

        <button data-ng-key="[CLEAR]">Clear</button>
        <button data-ng-key="[PREVIOUS]">Previous</button>
        <button data-ng-key="[NEXT]">Next</button>
    </div>
    <div class="drag-indicator">
        <span></span>
        <span></span>
        <span></span>
    </div>

    <button class="close" data-ng-click="close()"></button>
</div>
