<div>
    <div class="button-wrapper">
        <button data-ng-key="`">`</button>
        <button data-ng-key="1">1</button>
        <button data-ng-key="2">2</button>
        <button data-ng-key="3">3</button>
        <button data-ng-key="4">4</button>
        <button data-ng-key="5">5</button>
        <button data-ng-key="6">6</button>
        <button data-ng-key="7">7</button>
        <button data-ng-key="8">8</button>
        <button data-ng-key="9">9</button>
        <button data-ng-key="0">0</button>
        <button data-ng-key="-">-</button>
        <button data-ng-key="=">=</button>
        <button data-ng-key="-">-</button>
        <!-- BACKSPACE? -->

        <!-- TAB? -->
        <button data-ng-key="q">q</button>
        <button data-ng-key="w">w</button>
        <button data-ng-key="e">e</button>
        <button data-ng-key="r">r</button>
        <button data-ng-key="t">t</button>
        <button data-ng-key="y">y</button>
        <button data-ng-key="u">u</button>
        <button data-ng-key="i">i</button>
        <button data-ng-key="o">o</button>
        <button data-ng-key="p">p</button>
        <button data-ng-key="[">[</button>
        <button data-ng-key="]">]</button>
        <button data-ng-key="\">\</button>

        <!-- CAPSLOCK? -->
        <button data-ng-key="a">a</button>
        <button data-ng-key="s">s</button>
        <button data-ng-key="d">d</button>
        <button data-ng-key="f">f</button>
        <button data-ng-key="g">g</button>
        <button data-ng-key="h">h</button>
        <button data-ng-key="j">j</button>
        <button data-ng-key="k">k</button>
        <button data-ng-key="l">l</button>
        <button data-ng-key=";">;</button>
        <button data-ng-key="'">'</button>
        <!-- ENTER? -->

        <!-- L-SHIFT? -->
        <button data-ng-key="z">z</button>
        <button data-ng-key="x">x</button>
        <button data-ng-key="c">c</button>
        <button data-ng-key="v">v</button>
        <button data-ng-key="b">b</button>
        <button data-ng-key="n">n</button>
        <button data-ng-key="m">m</button>
        <button data-ng-key=",">,</button>
        <button data-ng-key=".">.</button>
        <button data-ng-key="/">/</button>
        <!-- R-SHIFT? -->

        <!-- L-CTRL? -->
        <!-- L-ALT? -->
        <!-- SPACE? -->
        <!-- R-ALT? -->
        <!-- R-CTRL? -->

        <!-- D-PAD? -->
    </div>
    <div class="drag-indicator">
        <span></span>
        <span></span>
        <span></span>
    </div>

    <button class="close" data-ng-click="close()"></button>
</div>
